.modal-block__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.modal-block__header > span {
    font-size: 20px;
    font-weight: 500;
}

.modal-block__body-block {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes scale-up {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}