.App {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  transition: all 0.3s ease;
  background-color: var(--background);
}


.warn {
  background-color: var(--warn-background);
  color: var(--warn-color);
  border: 1px solid var(--warn-border);
}

.error {
  background-color: var(--error-background);
  color: var(--error-color);
  border: 1px solid var(--error-border);
}

.success {
  background-color: var(--success-background);
  color: var(--success-color);
  border: 1px solid var(--success-border);
}

.modal-style {
  background-color: var(--modal-background);
  color: var(--modal-color);
  border: 1px solid var(--modal-border)
}

.toggle-btn {
  width: auto;
  height: 30px;
  margin: 20px;
  cursor: pointer;
  align-items: center;
  display: flex;
}

.app__handler {
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
}

.app__btn { 
  display: flex;
  height: auto;
}


.btn__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin: 20px;
  padding: 0 16px;
  outline: none;;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  width: 80px;
}
