.App {
  display: flex;
}
.btn__container {
  width: auto;
  height: 30px;
  margin: 20px;
  padding: 0 16px;
  outline: none;
  border: none;
  background-color: rgb(70, 69, 69);
  border-radius: 4px;
  color: white; 
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.btn__list:hover .btn__container{
  background-color: rgb(107, 107, 107);
}